<!DOCTYPE html>
<html>

<head>
    <title>Count Page</title>
</head>

<body>
    Contador de requisições Hidden: {{counter}}
    <br>
    Contador de requisições Cookie: {{counterCookie}}
    <form action="/" method="GET">
        <input type="hidden" name="counter" value={{counter}} />
        <input type="submit" value="Enviar" />
    </form>
    <h1>Login</h1>
    <form method="post" action="/login">
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" required>
        <br>
        <input type="submit" value="Login">
    </form>
</body>

</html>